<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body><center><br>
<div style="border:solid black 2px;width:600px;padding:20px;">

    <br><h2><b><i><p><u> Tarefas de hoje</u></p></b></i><br><br>

    <div style="border:solid blue;width:500px;padding:20px;background-color:lightblue;">

            {{atividade}}
    </h2>
    
    <form action={% url 'core:cadastro' %} novalidate method="GET">
        <br><h3><b>Cadastrar nova tarefa: </b>
        <input type="submit" value="Cadastro"/></h3>          
    </form></div>
  
    <br>

    
</div>
</body></center>
</html>